body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  display: flex;
  flex: 1;
  justify-content: center;
}
header, footer {
  display: flex;
  background: grey;
}
.content{
  display: flex;

}
.circle {
  display: flex;
  background-image: url("https://source.unsplash.com/random");
  border-radius: 50%;
  height: 300px;
  width: 300px;
}
